{% extends "base.html" %}
{% block content %}
<main class="flex-grow-1">
    <div class="container-lg mt-3">
        <h1>Сайты</h1>
            <div class="table-responsive">
                <table class="table table-bordered table-hover text-nowrap" data-test="urls">
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <th>Имя</th>
                            <th>Последняя проверка</th>
                            <th>Код ответа</th>
                        </tr>
                        {% if data %}
                        {% for check in data %}
                        <tr>
                            <td>{{ check[0] }}</td>
                            <td><a href="/urls/{{ check[0] }}">{{ check[1] }}</a></td>
                            <td>{{ check[2] if check[2] else '' }}</td>
                            <td>{{ check[3] if check[2] else '' }}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
    </div>
</main>
{% endblock %}